@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

$Desaturated-Red:hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);
$grad-1: linear-gradient(135deg,  hsl(0, 15%, 85%,.5), hsl(0, 100%, 98%)) ;
$grad-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;

}


.main{
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    width:min(100%,375px);
    background-image: $grad-1;
    @media (min-width:992px) {
        flex-direction: row-reverse;
        width:100%;
        justify-content: space-between;
        // width:min(100%,768px);
        // width:clamp(768px,80%,1440px) !important;


        // .main__logo-cont{
        //     flex-basis: 40%;
        // }
        // .main__section-2{
        //     // flex-basis: 60%;
        //     //  padding:3.34rem !important;


        // }
    }
}

.main__logo-cont{

            .main__logo-mob{
                    margin:2rem 2rem;
                    width:7rem;
                }
           
            
            .hero-img-mob{
                width: 100%;
                // width: clamp(384px,100%,100%);
            }

            .hero-img-desk{
                            display: none;
                            @media (min-width:993px) and (max-width:1200px){
                                // .hero-img-desk{
                                       width:441px !important;
                                    //  display: block !important;

                                     }
                                //   }
                        }
             

             @media (min-width:992px) {
                .hero-img-desk{
                    display: block !important;
                    width:100%;
                   
                }
                .hero-img-mob{
                    display: none;
                }
                .main__logo-mob{
                    display: none;
                }
 
             }
            
}

.main__section-2{

    padding:1.34rem;
    @media (max-width:290px) {
        padding:.5rem;
}
    @media (min-width:992px) {
            //  padding:10% 16% 0 10%;
    }
    
    .main__logo-desk{
        display: none;
        @media (min-width:992px) {
                display: block;
                position: absolute;
                top:8%;
        }
    }

    .main__heading{
        margin:2rem  0rem 2rem;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 8px;
        .head-ele{
            font-weight: 300;
            color: $Desaturated-Red;
        }
        @media (min-width:992px) {
            text-align: start !important;
            width: 411px;
            font-size: clamp(3rem , -0.5732rem + 7.14vw , 5rem) !important;
        }
    }

    .main__text{
        width:100%;
        text-align: center;
        line-height: 1.5;
        color: $Desaturated-Red;
        letter-spacing: -.5px;
        font-weight: 400;
        @media (min-width:992px) {
            text-align: start !important;
            width:400px;
        }
    }

    .form{
        position: relative;
        margin:1rem 0 2rem;
        padding:0 .5rem;
        @media (min-width:992px) {
        padding:0 !important;
        }

        #email{
            height:50px;
            width:100%;
            margin:1rem 0rem 3rem 0;
            border-radius: 40px;
            border:.5px solid  $Desaturated-Red;
            padding:1.5rem;
            
        }
        ::placeholder{
        color: $Desaturated-Red;
        }
        .arrow-logo{
            margin-top: 15px;
        }
        
        .arrow-logo-block{
            height:50px;
            width:70px;
            text-align: center;
            display: inline-block;
            border-radius: 50px;
            background-image: $grad-2;
            position: absolute;
            right:8px;
            top:16px;
            cursor: pointer;
            @media (min-width:992px) {
                right:0px !important;
                top:16px !important;
            }

        }
   }
}




