@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}
.hero-img-desk{
    display: none;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:min(100%,375px);
}


.hero-img-mob{
    width:100%;
}

.main__heading{
   
    font-weight: 300;
    text-transform: uppercase;
}