@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(100%, 375px);
  background-image: linear-gradient(135deg, hsla(0deg, 15%, 85%, 0.5), hsl(0deg, 100%, 98%));
}
@media (min-width: 992px) {
  .main {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
}

.main__logo-cont .main__logo-mob {
  margin: 2rem 2rem;
  width: 7rem;
}
.main__logo-cont .hero-img-mob {
  width: 100%;
}
.main__logo-cont .hero-img-desk {
  display: none;
}
@media (min-width: 993px) and (max-width: 1200px) {
  .main__logo-cont .hero-img-desk {
    width: 441px !important;
  }
}
@media (min-width: 992px) {
  .main__logo-cont .hero-img-desk {
    display: block !important;
    width: 100%;
  }
  .main__logo-cont .hero-img-mob {
    display: none;
  }
  .main__logo-cont .main__logo-mob {
    display: none;
  }
}

.main__section-2 {
  padding: 1.34rem;
}
@media (max-width: 290px) {
  .main__section-2 {
    padding: 0.5rem;
  }
}
.main__section-2 .main__logo-desk {
  display: none;
}
@media (min-width: 992px) {
  .main__section-2 .main__logo-desk {
    display: block;
    position: absolute;
    top: 8%;
  }
}
.main__section-2 .main__heading {
  margin: 2rem 0rem 2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 8px;
}
.main__section-2 .main__heading .head-ele {
  font-weight: 300;
  color: hsl(0deg, 36%, 70%);
}
@media (min-width: 992px) {
  .main__section-2 .main__heading {
    text-align: start !important;
    width: 411px;
    font-size: clamp(3rem, -0.5732rem + 7.14vw, 5rem) !important;
  }
}
.main__section-2 .main__text {
  width: 100%;
  text-align: center;
  line-height: 1.5;
  color: hsl(0deg, 36%, 70%);
  letter-spacing: -0.5px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .main__section-2 .main__text {
    text-align: start !important;
    width: 400px;
  }
}
.main__section-2 .form {
  position: relative;
  margin: 1rem 0 2rem;
  padding: 0 0.5rem;
}
@media (min-width: 992px) {
  .main__section-2 .form {
    padding: 0 !important;
  }
}
.main__section-2 .form #email {
  height: 50px;
  width: 100%;
  margin: 1rem 0rem 3rem 0;
  border-radius: 40px;
  border: 0.5px solid hsl(0deg, 36%, 70%);
  padding: 1.5rem;
}
.main__section-2 .form ::-moz-placeholder {
  color: hsl(0deg, 36%, 70%);
}
.main__section-2 .form :-ms-input-placeholder {
  color: hsl(0deg, 36%, 70%);
}
.main__section-2 .form ::placeholder {
  color: hsl(0deg, 36%, 70%);
}
.main__section-2 .form .arrow-logo {
  margin-top: 15px;
}
.main__section-2 .form .arrow-logo-block {
  height: 50px;
  width: 70px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  background-image: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  position: absolute;
  right: 8px;
  top: 16px;
  cursor: pointer;
}
@media (min-width: 992px) {
  .main__section-2 .form .arrow-logo-block {
    right: 0px !important;
    top: 16px !important;
  }
}/*# sourceMappingURL=main.css.map */